#header, #footer p.license{
    background-color: #000;
}

#header{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(98, 98, 98)), color-stop(0.5, rgb(32, 32, 32)), color-stop(0.5, rgb(0, 0, 0)), to(rgb(0, 0, 0)));
}

#navigation ul{
    margin: 5px 0px;
    padding: 0px;
}
#navigation li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}